<footer id="footer" class="bg-light text-center text-lg-start">
    <!-- place footer here -->
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h4 class="text-uppercase">Adopt Me</h4>
                <li>
                    Este sitio web ha sido diseñado por un grupo de estudiantes de Ingeniería en Informática de DUOC UC
                    <br>
                    Integrantes:
                    <br>
                    Matias Marin
                    <br>
                    Marcelo Baeza
                    <br>
                    Leonel Duran
                    <br>
                </li>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h4 class="text-uppercase">Enlaces</h4>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'tienda' %}" class="text-dark nav-link">Tienda</a>
                    </li>
                    <li>
                        <a href="{% url 'donaciones' %}" class="text-dark nav-link">Donaciones</a>
                    </li>
                    <li>
                        <a href="{% url 'nosotros' %}" class="text-dark nav-link">Nosotros</a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}" class="text-dark nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>