<!-- Carousel -->
<div id="carouselMain" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a class="carousel-href" href=".\tienda.html"><img src=".\images\tienda.svg" class="d-block w-100 carousel-image" alt="..."></a>
            
        </div>
        <div class="carousel-item">
            <a class="carousel-href" href=".\donaciones.html"><img src=".\images\donaciones.svg" class="d-block w-100 carousel-image" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a class="carousel-href" href=".\donaciones.html"><img src=".\images\nosotros.svg"  class="d-block w-100 carousel-image" alt="..."></a>
        </div>

        <div class="carousel-item">
            <a class="carousel-href" href=".\donaciones.html"><img src=".\images\contacto.svg"  class="d-block w-100 carousel-image" alt="..."></a>
        </div>
        <!-- Add more carousel items here -->
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>  

<!-- Grid for adoption animals -->
<div class="container mx-auto">
<div class="row mx-auto" style="margin-left: -25px; margin-right: -25px;">
<div class="col mx-auto">
    <div class="card mx-auto shadow" style="width: 18rem;">
        <img src=".\images\tienda\perro-juguete.jfif" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Juguetes y Accesorios</h5>
            <p class="card-text">En esta sección encontrarás los juguetes y accesorios ideales para tu mascota.</p>
            <button type="button" class="btn boton-stl1 carousel-href" style="float: right;" href=".\tienda.html";">
                Ver Más  
            </button>
        </div>
    </div>
</div>

<div class="col mx-auto">
    <div class="card mx-auto shadow" style="width: 18rem;">
        <img src=".\images\tienda\cama-gato1.jpg" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Camas</h5>
            <p class="card-text">Aquí encontrarás la opción ideal para que tu mascota descanse como merece.</p>
            <button type="button" class="btn boton-stl1 carousel-href" style="float: right;" href=".\tienda.html";">
                Ver Más
            </button>
        </div>
    </div>
</div>


<div class="col mx-auto">
    <div class="card mx-auto shadow" style="width: 18rem;">
        <img src=".\images\tienda\cuidadomascotas1.jpg" class="card-img card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Higiene y Cuidados</h5>
            <p class="card-text">En esta sección encontrarás todo lo que necesitas para los cuidados de tu mascota.</p>
            <button type="button" class="btn boton-stl1 carousel-href" style="float: right;" href=".\tienda.html";">
                Ver Más
            </button>
        </div>
    </div>
</div>
