<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">    </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Inicio
                        <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'donaciones' %}">Donaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
                {% if user.is_authenticated and user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_producto' %}">Crear Producto</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'checkout' %}">
                        <i class="fa fa-shopping-cart"></i> Carrito ({{ cart_items|length }})
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href="{% url 'registro' %}">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>