<!DOCTYPE html> 
<html lang="es-CL">

<head> 
    <title>Higiene y Cuidados</title>
    
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

 
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/template.css">
</head>


<body> 
    
    <header>
        <!-- index.html -->
        <div id="navbar"></div> 
        

    </header>
    <main>
        <hr>
        <h3 class="imgtit-donaciones text-center mb-4">Higiene página 1</h2>
        <hr>

        <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

    <!-- Tarjeta 1 -->
    <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\cepillo2.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Cepillo para Perros y Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$6.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal25">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\cepillo3.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Guantes Para Cepillar</h7>
                <h5 class="card-title" style="color: #FF460B">$8.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal26">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 3 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\shampoo1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Shampoo Para Perros</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal27">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 4 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\shampoo2.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Shampoo Natural para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal28">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 5 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\shampoo23.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Shampoo Antipulgas</h7>
                <h5 class="card-title" style="color: #FF460B">$12.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal29">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 6 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\collar5.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Collar Antipulgas</h7>
                <h5 class="card-title" style="color: #FF460B">$14.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal30">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 7 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\canil1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Jaula Transportadora para Perros y Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$29.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal31">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 8 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\bolso1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Bolso Transportador</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal32">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

     <!-- Tarjeta 1 -->
     <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\desparasitante1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Desparasitante para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$6.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal33">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\desparasitante2.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Desparasitante para Perros</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal34">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 3 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\desparasitante3.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Desparasitante y Antipulgas</h7>
                <h5 class="card-title" style="color: #FF460B">$11.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal35">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 4 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\arenero2.jfif" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Arenero para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal36">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 5 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\arena1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Arena para Gato - 5KG</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal37">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 6 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\spray1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Spray Relajante para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal38">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 7 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\suplemento1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Suplemento Alimenticio para Perros</h7>
                <h5 class="card-title" style="color: #FF460B">$26.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal39">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 8 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\snack1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Snack de Filete de Atún</h7>
                <h5 class="card-title" style="color: #FF460B">$14.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal40">
                    Ver Más
                </button>
            </div>
        </div>
    </div>
    

<!-- Paginador-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="higiene.html" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="higiene.html">1</a></li>
          <li class="page-item"><a class="page-link" href="higiene2.html">2</a></li>
          <li class="page-item">
            <a class="page-link" href="higiene2.html" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>


<!-- MODALES -->
     <!-- Modal 1 -->
        <div class="modal fade" id="Modal33" tabindex="-1" aria-labelledby="Modal33" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Modal33">Desparasitante para Gatos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <p> <img src=".\images\tienda\desparasitante1.jpg" style="max-width: 60%; height: 35%;" alt="Correa para perro"> </p>              
                        </div>
                        <p class="tit-modal1"> Descripción </p>
                        <p class= "descr-modal1">Antiparasitario interno y externo 2 en 1 para gatos de 2,5 Kg a 7,5 Kg</p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                            <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                        </div>
                    </div>
                </div>
            </div>    

     <!-- Modal 2 -->
     <div class="modal fade" id="Modal34" tabindex="-1" aria-labelledby="Modal34" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal34">Desparasitante para Perros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\desparasitante2.jpg" style="max-width: 54%; height: 60%;" alt="Correa para perro"> </p>
                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Antiparasitario oral masticable para perros de 5 a 10 KG.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>    


     <!-- Modal 3, sin drop-->
     <div class="modal fade" id="Modal35" tabindex="-1" aria-labelledby="Modal35" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal35">Desparasitante y Antipulgas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\desparasitante3.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Comprimido masticable contra pulgas y garrapatas en perro.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   

     <!-- Modal 4, sin drop-->
     <div class="modal fade" id="Modal36" tabindex="-1" aria-labelledby="Modal36" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal4">Arenero para Gatos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\arenero2.jfif" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Bandeja sanitaria con borde blanco para gatos.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   


         <!-- Modal 5, sin drop-->
         <div class="modal fade" id="Modal37" tabindex="-1" aria-labelledby="Modal37" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal37">Arena para Gatos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\arena1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
    
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Arena para gatos de bentonita con un fresco olor a talco.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   




         <!-- Modal 6 -->
         <div class="modal fade" id="Modal38" tabindex="-1" aria-labelledby="Modal38" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal38">Spray Relajante para Gatos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\spray1.jpg" style="max-width: 40%; height: 50%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Spray Relajante solo para Gatos.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   

        <!-- Modal 7, con drop-->
        <div class="modal fade" id="Modal39" tabindex="-1" aria-labelledby="Modal39" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal39">Suplemento Alimenticio para Articulaciones</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\suplemento1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Fórmula que ayuda a regenerar y fortalecer las articulaciones y ligamentos de perros y gatos.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    

            <!-- Modal 8, sin drop-->
        <div class="modal fade" id="Modal40" tabindex="-1" aria-labelledby="Modal40" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal40">Snack de Filete de Atún</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\snack1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Delicioso snack de filete de atún, dar a tu gato como premio</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    

    

    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="higiene.html" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="juguetes.html">1</a></li>
          <li class="page-item"><a class="page-link" href="higiene2.html">2</a></li>
          <li class="page-item">
            <a class="page-link" href="higiene2.html" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>



<!-- MODALES -->
     <!-- Modal 1-->
        <div class="modal fade" id="Modal25" tabindex="-1" aria-labelledby="Modal25" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Modal25">Cepillo para Perros y Gatos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <p> <img src=".\images\tienda\cepillo2.jpg" style="max-width: 54%; height: 60%;" alt="Cama Para Perro"> </p>
                      
                        </div>
                        <p class="tit-modal1"> Descripción </p>
                        <p class= "descr-modal1">Este ergonómico cepillo incluye cerdas finas para cepillar a tu mascota, desenredar los nudos, de manera que tu mascota quedará con un pelo brillante y voluminoso.</p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                            <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                        </div>
                    </div>
                </div>
            </div>    

     <!-- Modal 2 -->
     <div class="modal fade" id="Modal26" tabindex="-1" aria-labelledby="Modal26" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal26">Guantes Para Cepillar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\cepillo3.jpg" style="max-width: 55%; height: 60%;" alt="Cama de Madera"> </p>
                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Peina y masajea a tu mascota.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>    


     <!-- Modal 3-->
     <div class="modal fade" id="Modal27" tabindex="-1" aria-labelledby="Modal27" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal27">Shampoo Para Perros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\shampoo1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Moje a su mascota con agua tibia y vierta suficiente cantidad de Shampoo hipoalergénico sobre el pelaje mojado. Forme abundante espuma masajeando suavemente. Lave con abundante agua.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   

     <!-- Modal 4, sin drop-->
     <div class="modal fade" id="Modal28" tabindex="-1" aria-labelledby="Modal28" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal28">Shampoo Para Gatos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\shampoo2.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Shampoo para gatos con aroma a bamboo.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   


         <!-- Modal 5-->
         <div class="modal fade" id="Modal29" tabindex="-1" aria-labelledby="Modal29" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal29">Shampoo Antipulgas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\shampoo23.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
    
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Shampoo para eliminar pulgas, garrapatas y piojos en perros. Moje al animal con abundante agua, y aplique una cantidad suficiente de shampoo desde la cabeza a la cola directamente sobre la piel y pelaje.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   




         <!-- Modal 6, sin drop con textbox-->
         <div class="modal fade" id="Modal30" tabindex="-1" aria-labelledby="Modal30" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal30">Collar Antipulgas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\collar5.jpg" style="max-width: 40%; height: 50%;" alt=""> </p>
                       <select class="form-select tmn-drop" aria-label="Default select example">

                        <option selected>Selecciona Tamaño</option>
                        <option value="1">XS - M</option>
                        <option value="2">L - XL</option>
                        <option value="3">XXL</option>
                      </select>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Mantén a tus peludos libres de pulgas, larvas, garrapatas, piojos, hasta 7 u 8 meses, gracias a Seresto.Elimina las garrapatas, pulgas y piojos,Repele las garrapatas (anti alimentación).</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   

        <!-- Modal 7, con drop-->
        <div class="modal fade" id="Modal31" tabindex="-1" aria-labelledby="Modal31" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal31">Jaula Transportadora para Mascotas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\canil1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                       <select class="form-select tmn-drop" aria-label="Default select example">
                        <option selected>Selecciona Tamaño</option>
                        <option value="1">S - M</option>
                        <option value="2">L - XL</option>
                    </select>

                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">La Jaula de Transporte es la forma fácil y segura de transportar a su pequeña mascota. Porque cuando ella te acompaña, todo es mejor. Puerta metálica. Ausencia de ganchos laterales. Acoplamiento por sistema de deslizamiento patentado.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    

            <!-- Modal 8 -->
        <div class="modal fade" id="Modal32" tabindex="-1" aria-labelledby="Modal32" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal32">Bolso Transportador</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\bolso1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                       <select class="form-select tmn-drop" aria-label="Default select example">
                        <option selected>Selecciona Tamaño</option>
                        <option value="1">XS - S</option>
                        <option value="2">M - L</option>
                        <option value="3">XL</option>
                    </select>
                    </div>

                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Cómodo y elegante transportín que puede utilizarse como bolso de mano o bandolera con correas acolchadas ajustables para una sensación de comodidad. Conveniente para llevar a sus gatos, cachorros, conejos y animales pequeños al veterinario o de viaje.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    
 <!-- Tarjeta 1 -->
    <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\desparasitante1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Desparasitante para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$6.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal33">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\desparasitante2.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Desparasitante para Perros</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal34">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 3 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\desparasitante3.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Desparasitante y Antipulgas</h7>
                <h5 class="card-title" style="color: #FF460B">$11.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal35">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 4 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\arenero2.jfif" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Arenero para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal36">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 5 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\arena1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Arena para Gato - 5KG</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal37">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 6 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\spray1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Spray Relajante para Gatos</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal38">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 7 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\suplemento1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Suplemento Alimenticio para Perros</h7>
                <h5 class="card-title" style="color: #FF460B">$26.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal39">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 8 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\snack1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Snack de Filete de Atún</h7>
                <h5 class="card-title" style="color: #FF460B">$14.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal40">
                    Ver Más
                </button>
            </div>
        </div>
    </div>
    

<!-- Paginador-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="higiene.html" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="higiene.html">1</a></li>
          <li class="page-item"><a class="page-link" href="higiene2.html">2</a></li>
          <li class="page-item">
            <a class="page-link" href="higiene2.html" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>


<!-- MODALES -->
     <!-- Modal 1 -->
        <div class="modal fade" id="Modal33" tabindex="-1" aria-labelledby="Modal33" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Modal33">Desparasitante para Gatos</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <p> <img src=".\images\tienda\desparasitante1.jpg" style="max-width: 60%; height: 35%;" alt="Correa para perro"> </p>              
                        </div>
                        <p class="tit-modal1"> Descripción </p>
                        <p class= "descr-modal1">Antiparasitario interno y externo 2 en 1 para gatos de 2,5 Kg a 7,5 Kg</p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                            <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                        </div>
                    </div>
                </div>
            </div>    

     <!-- Modal 2 -->
     <div class="modal fade" id="Modal34" tabindex="-1" aria-labelledby="Modal34" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal34">Desparasitante para Perros</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\desparasitante2.jpg" style="max-width: 54%; height: 60%;" alt="Correa para perro"> </p>
                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Antiparasitario oral masticable para perros de 5 a 10 KG.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>    


     <!-- Modal 3, sin drop-->
     <div class="modal fade" id="Modal35" tabindex="-1" aria-labelledby="Modal35" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal35">Desparasitante y Antipulgas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\desparasitante3.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Comprimido masticable contra pulgas y garrapatas en perro.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   

     <!-- Modal 4, sin drop-->
     <div class="modal fade" id="Modal36" tabindex="-1" aria-labelledby="Modal36" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal4">Arenero para Gatos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\arenero2.jfif" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Bandeja sanitaria con borde blanco para gatos.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   


         <!-- Modal 5, sin drop-->
         <div class="modal fade" id="Modal37" tabindex="-1" aria-labelledby="Modal37" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal37">Arena para Gatos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\arena1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
    
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Arena para gatos de bentonita con un fresco olor a talco.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   




         <!-- Modal 6 -->
         <div class="modal fade" id="Modal38" tabindex="-1" aria-labelledby="Modal38" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal38">Spray Relajante para Gatos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\spray1.jpg" style="max-width: 40%; height: 50%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Spray Relajante solo para Gatos.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   

        <!-- Modal 7, con drop-->
        <div class="modal fade" id="Modal39" tabindex="-1" aria-labelledby="Modal39" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal39">Suplemento Alimenticio para Articulaciones</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\suplemento1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Fórmula que ayuda a regenerar y fortalecer las articulaciones y ligamentos de perros y gatos.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    

            <!-- Modal 8, sin drop-->
        <div class="modal fade" id="Modal40" tabindex="-1" aria-labelledby="Modal40" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal40">Snack de Filete de Atún</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\snack1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Delicioso snack de filete de atún, dar a tu gato como premio</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    



</main>
<div id="footer"></div>
<!-- Bootstrap JavaScript Libraries -->

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
fetch('navbar.html')
    .then(response => response.text())
    .then(data => {
        document.getElementById('navbar').innerHTML = data;
    });

    


});

    window.addEventListener('DOMContentLoaded', (event) => {
fetch('footer.html')
.then(response => response.text())
.then(data => {
    document.getElementById('footer').innerHTML = data;
});
});

    </script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
></script>


</body>

</html>

<style>
    .descr-modal1 {
        font-size: 1rem; 
        max-width: 100%; 
        word-wrap: break-word;
    }
</style>

<style>
    .tit-modal1 {
        font-size: 1rem; 
        max-width: 100%; 
        word-wrap: break-word;
        font-weight:bold;
        display: inline-block;
        border-bottom: 1.5px solid black;
        max-width: 30%;
    }
</style>

<style>
    .boton-stl1 {
        background-color: #FF460B;
        color: white;
        
    }
</style>

<style>
    .card-img {
        height: 180px; 
        object-fit: cover; 
    }
</style>

<style>
    .card {
        height: 100%;
    }
</style>

<style>
.tmn-textb {
    width: 260px;
    height: 40px; 
}
</style>

<style>
    .tmn-drop {
        width: 210px;
        height: 40px; 
    }
    </style>
