        <hr>
              <h3 class="imgtit-donaciones text-center mb-4">Juguetes página 1</h2>
              <hr>

        <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

    <!-- Tarjeta 1 -->
    <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\correaycollar.png" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Correa + Collar</h7>
                <h5 class="card-title" style="color: #FF460B">$16.990 - $22.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal1">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\arnesperro.png" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Arnés Para Perro</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990 - $26.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal2">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 3 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\collarperro1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Collar Para Perro</h7>
                <h5 class="card-title" style="color: #FF460B">$11.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal3">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 4 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\comedero1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Comedero con Base</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal4">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 5 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\hueso3.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Hueso De Juguete</h7>
                <h5 class="card-title" style="color: #FF460B">$4.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal5">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 6 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\medalla1.jfif" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Medalla Identificación Grabada</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal6">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 7 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\bandan1.png" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Bandana Para Perro</h7>
                <h5 class="card-title" style="color: #FF460B">$19.990 - $26.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal7">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 8 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\correa4.jfif" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Correa Retractil</h7>
                <h5 class="card-title" style="color: #FF460B">$9.990 - $14.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal8">
                    Ver Más
                </button>
            </div>
        </div>
    </div>
    

<!-- Paginador-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="juguetes.html" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="juguetes.html">1</a></li>
          <li class="page-item"><a class="page-link" href="juguetes2.html">2</a></li>
          <li class="page-item">
            <a class="page-link" href="juguetes2.html" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>


<!-- MODALES -->
     <!-- Modal 1, podría implementar un carrusel acá-->
        <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="Modal1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Modal1">Set Correa + Collar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <p> <img src=".\images\tienda\correaycollar.png" style="max-width: 54%; height: 60%;" alt="Correa para perro"> </p>
                           
                           <select class="form-select tmn-drop" aria-label="Default select example">
                            <option selected>Selecciona Tamaño</option>
                            <option value="1">XS - S</option>
                            <option value="2">M - L</option>
                            <option value="3">XL - XXL</option>
                          </select>
                        
                        </div>
                        <p class="tit-modal1"> Descripción </p>
                        <p class= "descr-modal1">Este práctico pack que incluye correa y collar no puede faltar para los paseos con tu perro! No olvides seleccionar el Tamaño de acuerdo a las Caracteristicas de tu Perro!</p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                            <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                        </div>
                    </div>
                </div>
            </div>    

     <!-- Modal 2 -->
     <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="Modal2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal2">Árnes + Correa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\arnesperro.png" style="max-width: 54%; height: 60%;" alt="Correa para perro"> </p>
                  
                   <select class="form-select tmn-drop" aria-label="Default select example">
                    <option selected>Selecciona Tamaño</option>
                    <option value="1">XS - S</option>
                    <option value="2">M - L</option>
                    <option value="3">XL - XXL</option>
                  
                </select>
                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Este práctico pack que incluye correa y collar no puede faltar para los paseos con tu perro! No olvides seleccionar el Tamaño de acuerdo a las Caracteristicas de tu Perro!</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>    


     <!-- Modal 3, sin drop-->
     <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="Modal3" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal3">Collar Para Perro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\collarperro1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Lleva este practico y estetico collar para tu Perro, no necesitas elegir tallas! Ya que su tamaño es universal y posee ajuste según el tamaño de tu Perro.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   

     <!-- Modal 4, sin drop-->
     <div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="Modal4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal4">Comedero y Bebedero Con Base</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\comedero1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Con este practico elemento, olvidate de que tu mascota pierda o de vuelta su plato con comida y agua, ya que posee una base donde se empotran los platos para mayor practicidad.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   


         <!-- Modal 5, sin drop-->
         <div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="Modal5" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal5">Hueso de Juguete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\hueso3.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
    
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Este entretenido hueso de juguete para tu Perro tiene sabor a carne para que tu amigo disfrute su sabor. Además, es altamente resistente al tiempo por lo que no te preocupes de su uso rudo.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   




         <!-- Modal 6, sin drop con textbox-->
         <div class="modal fade" id="Modal6" tabindex="-1" aria-labelledby="Modal6" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal6">Medalla de Identificación Grabada</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\medalla1.jfif" style="max-width: 40%; height: 50%;" alt=""> </p>
                       <div style="margin-bottom: 1px;"></div>
                    </div>
                       <div class="form-floating mb-3 tmn-textb ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="">
                        <label for="floatingInput">Ingresa el Nombre de Tu Mascota</label>
                        </div>
                        <div style="margin-bottom: 10px;"></div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Ayuda a identificar a tu perro de forma eficiente, con esta medalla podrás grabar el nombre de tu mascota y en el reverso tus datos personales para que tu perro se encuentre siempre seguro.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   

        <!-- Modal 7, con drop-->
        <div class="modal fade" id="Modal7" tabindex="-1" aria-labelledby="Modal7" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal7">Bandana Para Perro</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\bandan1.png" style="max-width: 54%; height: 60%;" alt=""> </p>

                       <select class="form-select tmn-drop" aria-label="Default select example">
                        <option selected>Selecciona Tamaño</option>
                        <option value="1">XS - S</option>
                        <option value="2">M - L</option>
                        <option value="3">XL - XXL</option>
                      </select>

                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Esta hermosa bandana hará que tu perro se vea genial en sus paseos! Además, de ser estetica es funcional, ya que se puede anclar al collar que tu perro esté usando para llevarla consigo a todas partes.</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    

            <!-- Modal 8, sin drop-->
        <div class="modal fade" id="Modal8" tabindex="-1" aria-labelledby="Modal8" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal8">Correa Retractil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\correa3.jfif" style="max-width: 54%; height: 60%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Con esta practica correa Retractil los paseos con tu perro serán mucho más agradables, ya que el tendrá libertad para moverse en más espacio siempre que tu se lo des en la correa. Esta correa posee una extensión de hasta 3 metros y además su anclaje es universal por lo que cualquier collar te servirá!</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>


                 <!-- Tarjeta 1 -->
    <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\varita1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Varita Con Plumas Para Gato</h7>
                <h5 class="card-title" style="color: #FF460B">$4.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal1a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

    <!-- Tarjeta 2 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\varita2.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Varita con Ratón para Gato</h7>
                <h5 class="card-title" style="color: #FF460B">$5.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal2a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 3 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\collargato1.jfif" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Collar Para Gato</h7>
                <h5 class="card-title" style="color: #FF460B">$6.990 - 8.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal3a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

        <!-- Tarjeta 4 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\collargato2.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Collar Para Gata</h7>
                <h5 class="card-title" style="color: #FF460B">$6.990 - 8.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal4a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>


            <!-- Tarjeta 5 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\raton1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Ratón de Juguete</h7>
                <h5 class="card-title" style="color: #FF460B">$2.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal5a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

            <!-- Tarjeta 6 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\rascador4.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Rascador de Gato</h7>
                <h5 class="card-title" style="color: #FF460B">$16.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal6a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 7 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\collarbanda1.jfif" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Collar + Banda Para Gato</h7>
                <h5 class="card-title" style="color: #FF460B">$7.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal7a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>

                <!-- Tarjeta 8 -->
        <div class="col mb-4">
        <div class="card mx-auto shadow" style="width: 18rem;">
            <img src=".\images\tienda\pelota1.jpg" class="card-img card-img-top" alt="...">
            <div class="card-body">
                  <h7 class="card-text">Pelota Rascadora Gato</h7>
                <h5 class="card-title" style="color: #FF460B">$4.990</h5>
                <button type="button" class="btn boton-stl1" style="float: right;" data-bs-toggle="modal" data-bs-target="#Modal8a">
                    Ver Más
                </button>
            </div>
        </div>
    </div>
    

<!-- Paginador-->
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="juguetes.html" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="juguetes2.html">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>


<!-- MODALES -->
     <!-- Modal 1, podría implementar un carrusel acá-->
        <div class="modal fade" id="Modal1a" tabindex="-1" aria-labelledby="Modal1a" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Modal1a">Varita con Plumas para Gato</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <p> <img src=".\images\tienda\varita1.jpg" style="max-width: 54%; height: 60%;" alt="Correa para perro"> </p>
                                                   
                        </div>
                        <p class="tit-modal1"> Descripción </p>
                        <p class= "descr-modal1">Esta entretenida varita hará que tus juegos con tu Gato o Gata sean mucho más entretenidos. Solo debes mover la varita y de esta forma se agitaran las plumas en la punta para que tu Gato busque atraparlas.</p>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                            <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                        </div>
                    </div>
                </div>
            </div>    

     <!-- Modal 2 -->
     <div class="modal fade" id="Modal2a" tabindex="-1" aria-labelledby="Modal2a" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal2a">Varita con Ratón para Gato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\varita2.jpg" style="max-width: 54%; height: 60%;" alt="Correa para perro"> </p>

                </select>
                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Esta entretenida varita hará que tus juegos con tu Gato o Gata sean mucho más entretenidos. Solo debes mover la varita y de esta forma el ratón se agitará llamando la atención de tu gato, lo que hará que salte y corra por atraparlo.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>    


     <!-- Modal 3, con drop-->
     <div class="modal fade" id="Modal3a" tabindex="-1" aria-labelledby="Modal3a" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal3a">Collar Para Gato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\collargato1.jfif" style="max-width: 54%; height: 60%;" alt=""> </p>

                   <select class="form-select tmn-drop" aria-label="Default select example">
                    <option selected>Selecciona Tamaño</option>
                    <option value="1">XS - S</option>
                    <option value="2">M - L</option>
                    <option value="3">XL - XXL</option>
                  </select>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Con este estetico collar haz que tu gato se vea único, además, puedes escucharlo por donde anda debido a su cascabel incorporado. Este collar está hecho de un material elastico que permite estirarse cuando tu gato se enganche en algo. Selecciona la talla según el tamaño de tu Gato.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>
    </div>   

     <!-- Modal 4, con drop-->
     <div class="modal fade" id="Modal4a" tabindex="-1" aria-labelledby="Modal4a" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal4a">Collar Para Gata</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\collargato2.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>

                   <select class="form-select tmn-drop" aria-label="Default select example">
                    <option selected>Selecciona Tamaño</option>
                    <option value="1">XS - S</option>
                    <option value="2">M - L</option>
                    <option value="3">XL - XXL</option>
                  </select>

                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Con este estetico collar haz que tu gata se vea único, además, puedes escucharlo por donde anda debido a su cascabel incorporado. Este collar está hecho de un material elastico que permite estirarse cuando tu gata se enganche en algo. Selecciona la talla según el tamaño de tu Gata.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>


     <!-- Modal 5, sin drop-->
     <div class="modal fade" id="Modal5a" tabindex="-1" aria-labelledby="Modal5a" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Modal5a">Ratón de Juguete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p> <img src=".\images\tienda\raton1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                </div>
                <p class="tit-modal1"> Descripción </p>
                <p class= "descr-modal1">Este entretenido ratón de juguete para tu Gato hará que tu gato dedique mucha energia atrapandolo, si quieres jugar con el, solo debes tirarlo dentro de un espacio abierto.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                </div>
            </div>
        </div>




         <!-- Modal 6, sin drop con textboxa-->
         <div class="modal fade" id="Modal6a" tabindex="-1" aria-labelledby="Modal6a" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal6a">Rascador de Gato</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\rascador4.jpg" style="max-width: 40%; height: 50%;" alt=""> </p>
                       <div style="margin-bottom: 1px;"></div>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">El Rascador para Gato tipo Cactus es un excelente elemento decorativo para tu casa,  tu incondicional lo adorará.
                        Material: Cuerda de yute, tela suave, base solida de madera.
                        Medidas: 39cm la base – altura 82 – grosor de 10cm.
                        Color:  Beige</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>   

        <!-- Modal 7, con drop-->
        <div class="modal fade" id="Modal7a" tabindex="-1" aria-labelledby="Modal7a" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal7a">Bandana Para Gato</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\collarbanda1.jfif" style="max-width: 54%; height: 60%;" alt=""> </p>

                       <select class="form-select tmn-drop" aria-label="Default select example">
                        <option selected>Selecciona Tamaño</option>
                        <option value="1">XS - S</option>
                        <option value="2">M - L</option>
                        <option value="3">XL - XXL</option>
                      </select>

                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Esta hermosa bandana hará que tu Gato se vea genial!</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    

            <!-- Modal 8, sin drop-->
        <div class="modal fade" id="Modal8a" tabindex="-1" aria-labelledby="Modal8a" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Modal8a">Pelota Rascadora Para Gato</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <p> <img src=".\images\tienda\pelota1.jpg" style="max-width: 54%; height: 60%;" alt=""> </p>
                    </div>
                    <p class="tit-modal1"> Descripción </p>
                    <p class= "descr-modal1">Con esta entretenida pelota tu gato podrá jugar sin limites, puedes acompañarlo lanzandola para que la busque o tu gato puede jugar solo. Además, su material permite que tu gato rasque sus garras en ella!</p>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button"class="btn boton-stl1">Lo Quiero!</button>
                    </div>
                </div>
            </div>
        </div>    
